* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: center;
}

@media screen and (min-width:260px) {
  #images {
    display: flex;
    flex-wrap: wrap;
  }
}

#images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  width: 380px;
  height: 380px;
  margin: 20px;
  position: relative;
}

.image-container>img {
  width: 100%;
  height: 100%;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  cursor: pointer;
}

#ciao {
  width: 99%;
}

.img2:hover>img {
  opacity: 0.9;
  transform: translatey( -30px);
  transition-delay: 100s;
  transform-style: preserve-3d;
}

.gradient:hover {
  background: linear-gradient(to top right, #c300ff 0%, #000000 50%, #ff3300 100%);
  opacity: 0, 9;
}

.img2:hover::after {
  margin-bottom: 99%;
  content: "Sito Web";
  z-index: 99;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-decoration-style: dotted;
}

#more-games {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid black;
  width: 190px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

#more-games:hover {
  padding: 32px 32px 32px 32px;
  color: red;
}

.image-container button {
  padding: 30px;
  margin: 110px;
}